$phone: 640px;
$tablet: 768px;
$desktop: 1280px;
$desktop-xl: 1600px;

$primary-blue: #0039a6;
$primary-dark-blue: #172747;
$primary-light-blue: #5790e1;
$primary-seagull: #a5dff2;
$primary-alt-blue: #b9ddf5;
$primary-s: #f9f6f4;
$primary-background: #faf6f2;

$neutral-deep-blue: #011638;
$neutral-intermediate-blue: #344966;
$neutral-light-gray: #6c7075;
$neutral-inactive-gray: #aaaaaa;
$neutral-offwhite: #efecea;
$neutral-white: #ffffff;
$neutral-indigo-dye: #344966;

$component-border: #dedede;
$component-outline: #cecece;
$component-error: #ff0000;

$expo-ease-out: cubic-bezier(0.19, 1, 0.22, 1);
