.projectCard {
  cursor: pointer;

  img {
    transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  p {
    transition: 0.6s cubic-bezier(0.32, 0.72, 0, 1);
    text-decoration: none;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    p {
      text-decoration: underline;
    }
  }
}
